*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: poppins;
  src: url(./Fonts/Poppins-Medium.ttf);
}
.main{
  width: 100%;
  height: 100vh;
  background-color: rgb(235, 235, 235);
  font-family: poppins;
}
.sidebar{
  width: 260px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .6s ease;
}
.sidebar .uil{
  font-size: 21px;
}


/* Top Row Started  */

.top-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: all .5s ease;
}
.logo p{
  margin-left: 6px;
  font-size: 18px;
}
.top-row .hamburgur + .close{
  cursor: pointer;
}
.top-row .uil{
  font-size: 26px;
}
.top-row .hamburgur{
  display: none;
}


/* Middle Row Started  */

.middle-row{
  width: 100%;
  color: #fff;
}
.middle-row li{
  list-style: none;
  position: relative;
}
.middle-row li a{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  padding: 14px;
  transition: all .5s ease;
}
.middle-row .links a:hover{
  background-color: #fff;
  color: #333;
}
.middle-row li a p{
  margin-left: 12px;
  transition: all .5s ease;
}
.middle-row .search-bar{
  background-color: rgba(255, 255, 255, 0.236);
  border-radius: 10px;
}
.middle-row .search-bar input{
  border: none;
  outline: none;
  background-color: transparent;
  height: 100%;
  color: #fff;
  font-size: 16px;
}
::placeholder{
  color: #fff;
}
.middle-row li .outter-name{
  position: absolute;
  bottom: 50%;
  left: 160%;
  transform: translateY(50%);
  background-color: #333;
  color: #fff;
  padding: 8px 15px;
  border-radius: 6px;
  white-space: nowrap;
  transition: all .6s ease;
  opacity: 0;
}
.active .middle-row li:hover .outter-name{
  opacity: 1;
}
.active .bottom-row p{
  display: none;
}


/* Bottom Row Started  */

.bottom-row{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.236);
  border-radius: 10px;
  padding: 0 12px;
}
.bottom-row .uil-setting{
  cursor: pointer;
}
.bottom-row .uil{
  font-size: 26px;
}
.bottom-row p{
  white-space: nowrap;
  transition: all .5s ease;
}


/* Active Sidebar Css */

.active{
  width: 80px;
  padding: 20px 15px;
}
.active .top-row{
  justify-content: center;
}
.active .top-row .logo{
  display: none;
  transition: all .5s ease;
}
.active .middle-row li a p{
  display: none;
}
.active .middle-row li a{
  justify-content: center;
}
.active .top-row .close{
  display: none;
}
.active .top-row .hamburgur{
  display: block;
}
